*{
  box-sizing: border-box;  
}

body{
    display: flex;
    flex-direction: column;
    font-family: Outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.wrapper{
    display: block;
    text-align: center;
    background-color: hsl(0deg, 0%, 100%);
    margin: auto auto; /*center vertically. auto horizontally*/
    max-width: 320px;
    max-height: 500px;
    border-radius: 6%;
}

img{
    width: 100%;
    border-radius: 6%;
    margin-top: 20px;
}

figcaption{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    color: hsl(216, 15%, 48%);
    margin: 0 auto;
    padding-bottom: 40px;
    font-weight: 400;
    width: 256px;
}

header{
    position: relative;
    margin: 0 auto;
    padding-bottom: 40px;
}

div {
    position: fixed;
    bottom: 0;
}
