*{
  box-sizing: border-box;  
}

body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.wrapper{
    display: block;
    text-align: center;
    background-color: hsl(0deg, 0%, 100%);
    margin-inline: auto; /*center vertically. auto horizontally*/
    max-width: 20rem;
    max-height: 31.25;
    border-radius: 6%;
}

img{
    max-width: 100%;
    border-radius: 6%;
    margin-top: 1.25rem;
}

figcaption{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    color: hsl(216, 15%, 48%);
    margin: 0 auto;
    padding-bottom: 2.5rem;
    font-weight: 400;
    width: 16rem;
}


div {
    position: fixed;
    bottom: 0;
}
